li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

ul li:before {
  font-family: 'FontAwesome';
  content: '\f805';
  margin: 0 5px 0 -15px;
  color: black;
}


.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}